.divider {
    background: linear-gradient(135deg, rgba(63, 185, 126, 1), rgba(202, 160, 228, 1));
    padding: 10px 0; /* Adjust padding as needed */
  }
  
  .unorder {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px; /* Optional: Set maximum width for the navigation bar */
    margin: 0 auto; /* Center align the navigation bar */
    padding: 0 20px; /* Add padding to the sides */
    height: 80px; /* Set the height of the navigation bar */
  }
  
  .unorder li {
    /* Remove margin between items */
    margin: 0;
  }
  
  .unorder li.black {
    /* Position the logo on the extreme left */
    margin-right: auto; /* Pushes the logo to the left */
  }
  
  .unorder li.festname {
    /* Center the fest name */
    flex: 1; /* Allow the fest name to take up remaining space */
    text-align: center;
    color: #fff; /* Text color */
    font-size: 45px;
  }
  
  .unorder li.grey {
    /* Position the SVG image on the extreme right */
    margin-left: auto; /* Pushes the image to the right */
  }
  
  .grey svg {
    /* Optional: Adjust SVG size */
    width: 48px;
    height: 48px;
  }
  
  .black {
    /* Common styles for black and grey elements */
    background-color: rgba(217, 217, 217, 1);
    height: 90px;
    width: 90px;
    text-align: center;
    display: flex;
    align-items: center;

    position:absolute;
    left:0;
    
  }
   .grey {
    /* Common styles for black and grey elements */
    background-color: rgba(217, 217, 217, 1);
    height: 90px;
    width: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    position:absolute;
    right:0;
   }